.home--portMap {
  height: 400px;
}

.mainWrapper {
  border: solid 1px #ccc;
  display: flex;
  height: 600px;
}

.mapWrapper {
  position: relative;
  height: 100%;
  width: 75%;
}

.sideBar {
  width: 25%;
  background: lightblue;
  overflow-y: scroll;
}